<Files .htaccess>
    Order Allow,Deny
    Deny from all
</Files>

<Files log.txt>
    Order allow,deny
    Deny from all
</Files>

<Files .gitignore>
    Order allow,deny
    Deny from all
</Files>

<Files Dockerfile>
    Order Allow,Deny
    Deny from all
</Files>

<Files docker-compose.yml>
    Order Allow,Deny
    Deny from all
</Files>