/* Esquema de cores
	http://www.colourlovers.com/palette/2553835/little_more_brighter
	#1B1C26
	#823C3C
	#D65C56
	#EEB667
	#F2ECB0
	#F0F0F0
	#FFFFFF
*/

/*geral*/
body {
	color:#1B1C26;
	margin:0;
	font-family:"Trebuchet MS",Helvetica,Arial,sans-serif;
	background-color:#FFFFFF;
}

input[type="text"],input[type="password"] {
	font-weight:bold;
	padding:0.5em;
	border:none;
}

input[type="button"],select {
	font-weight:bold;
	background-color:#EEB667;
	padding:0.5em;
	border:none;
}

input[type="button"]:hover,select:hover {
	background-color:#F2ECB0;
}

input[type="button"]:active {
	background-color:#EEB667;
	color:#FFFFFF;
}

div#content {
	padding:1em;
	min-width:1200px;
}

::-webkit-scrollbar {
    width: 6px;
	height: 6px;
}
 
::-webkit-scrollbar-track {
    width: 3px;
	height: 3px;
	background-color:#F0F0F0;
}
 
::-webkit-scrollbar-thumb {
    width: 6px;
	height: 6px;
	background-color:#823C3C;
}

/*header*/
h1 {
	margin-top:0;
	margin-bottom:0;
	line-height:60px;
	vertical-align:top;
	display:inline-block;
}
header {
	height:60px;
	padding-left:1em;
	color:#FFFFFF;
	background-color:#1B1C26;
}
.logo{
height:60px;
margin-right:30px;
}

/*footer*/
footer
{
	color:#FFFFFF;
	background-color:#1B1C26;
	padding:0.5em;
}
footer a {
	color:#FFFFFF;
	font-weight:bold;
}

/*seletor turmas*/
div.selector{
	vertical-align:top;
	display:inline-block;
	max-width:360px;
}
div.classselector{
	margin-bottom:0.5em;
	max-width:270px;
	min-width:270px;
	/*border:4px #823C3C solid;*/
	padding:8px;
	background-color:#823C3C;
	color:#FFFFFF;
	margin-top:0.5em;
	display:inline-block;
}
select.turmaselect{
	width:100%;
	display:block;
	margin-top:8px;
	margin-bottom:6px;
}
/*
div.selectorwarning{
	display:none;
}*/
img.selectorwarning{
	width:64px;
	height:64px;
	display:none;
	vertical-align:top;
	padding-top:20px;
}

img.selectorwarningoverlap{
	display:inline-block;
}





/* horario*/
table#horario {
	font-size:12px;
	vertical-align:top;
	display:inline-block;
	min-width:756px;
	max-width:70%;
	border-spacing:0;
}
table#horario td,table#horario th{
	border:1px #FFFFFF solid;
	text-align:center;
	background-color:#F0F0F0;
	padding:0.25em;
	width:100px;
}
table#horario th{
	background-color:#823C3C;
	color:#FFFFFF;
}

/* aulas */
div.aula{
	position:absolute;
	border:2px #1B1C26 solid;
	opacity:0.8;
	overflow:hidden;
	z-index:3;
}
div.aula:hover{
	opacity:1;
	z-index:4;
}
div.teorica{
	background-color:#F2ECB0;
	z-index:2;
}

div.teoricopratica{
	background-color:#EBB667;
}

div.pratica{
	background-color:#FA5A52;
}

div.praticalaboratorial{
	background-color:#BA6A45;
}

div.laboratorio{
	background-color:#D7E9C9;
}
div.trabalhocampo{
	background-color:#cca67b;
}
div.seminario{
	background-color:#cda8cf;
}

div.aulapreview{
	z-index:5;
	opacity:0.7
}


div.mouseoverselect{
	opacity:1;
	z-index:4;
	border:2px green solid;
}

div.aulaoverlap{
	border:2px red solid;
}


div.aulawrapper{
display:table;
}

span.aula{
	text-align:center;
	padding:3px;
	font-size:10px;
	font-weight:bold;
	display:table-cell;
	max-width:50px;
	width:50px;
}
p.aula{
	margin:2px;
	display:table-row;
}

/* blocks*/

div.blockprompt{
	padding:0.5em;
	z-index: 1011; 
	position: fixed;
	min-height:210px;
	left:0;
	right:0;
	top:20%;
	background-color:#823C3C;
	color:#FFFFFF;
	text-align:center;
	overflow:visible;
}

div#loading{
	cursor:wait;
}

div#promptcadeiras{
}

div#listcadeiras{
	overflow:auto;
	max-height:300px;
}

div.listcadano{
	/*height:250px;	*/
	float:center;
    text-align: left;
	display:inline-block;
	vertical-align:top;
	/*max-width:14%;*/
	padding-left:1%;
	padding-right:1%;
	/*width:250px;*/
}

div.listcadano ul{
	padding:0px;
	-moz-columns:2 85px;
	-webkit-columns:2 85px;
	columns:2 85px;
}

p.listcadanop{
	text-align:center;
}
li.listcad{
    width: 85px;
    text-align: left;
	list-style-type:none;
}


/*geral*/
p.error{
	text-align:center;
	font-size:18px;
	color:#FFFFFF;
	font-weight:bold;
}
