/* Esquema de cores
	http://www.colourlovers.com/palette/2553835/little_more_brighter
	#1B1C26
	#823C3C
	#D65C56
	#EEB667
	#F2ECB0
	#F0F0F0
	#FFFFFF
*/

/*geral*/
body {
	color:#1B1C26;
	margin:0;
	font-family:"Trebuchet MS",Helvetica,Arial,sans-serif;
	background-color:#FFFFFF;
}

input[type="text"],input[type="password"] {
	font-weight:bold;
	padding:0.5em;
	border:none;
}

input[type="button"],select {
	font-weight:bold;
	background-color:#EEB667;
	padding:0.5em;
	border:none;
}

input[type="button"]:hover,select:hover {
	background-color:#F2ECB0;
}

input[type="button"]:active {
	background-color:#EEB667;
	color:#FFFFFF;
}

div#content {
	padding:1em;
}

::-webkit-scrollbar {
    width: 6px;
	height: 6px;
}
 
::-webkit-scrollbar-track {
    width: 3px;
	height: 3px;
	background-color:#F0F0F0;
}
 
::-webkit-scrollbar-thumb {
    width: 6px;
	height: 6px;
	background-color:#823C3C;
}

/*header*/
h1 {
	margin-top:0;
	margin-bottom:0;
}
header {
	padding-left:1em;
	color:#FFFFFF;
	background-color:#1B1C26;
}

/*seletor turmas*/
div.selector{
	vertical-align:top;
	display:inline-block;
}
div.classselector{
	margin-bottom:0.1em;
	padding:0.5em;
	background-color:#823C3C;
	color:#FFFFFF;
	margin-top:0.5em;
}
select.turmaselect{
	width:100%;
	display:block;
}

/*footer*/
footer
{
	color:#FFFFFF;
	background-color:#1B1C26;
	padding:0.5em;
}
footer a {
	color:#FFFFFF;
	font-weight:bold;
}

/* horario*/
table#horario {
	font-size:12px;
	vertical-align:top;
	display:inline-block;
	max-width:70%;
	border-spacing:0;
}
table#horario td,table#horario th{
	border:1px #FFFFFF solid;
	text-align:center;
	background-color:#F0F0F0;
	padding:0.25em;
	width:100px;
}
table#horario th{
	background-color:#823C3C;
	color:#FFFFFF;
}

div.teorica,div.pratica,div.teoricopratica,div.laboratorio,div.praticalaboratorial{
	position:absolute;
	border:2px #1B1C26 solid;
	opacity:0.7;
}
div.teorica{
	background-color:#F2ECB0;
	z-index:2;
}

div.teoricopratica{
	background-color:#EBB667;
	z-index:3;
}

div.pratica{
	background-color:#D65C56;
	z-index:3;
}

div.praticalaboratorial{
	background-color:#823C3C;
	z-index:3;
}

div.laboratorio{
	background-color:#D7E9C9;
	z-index:3;
}

div.mouseoveraula{
	opacity:1;
	z-index:4;
}
div.aulawrapper{
	display:table-cell;
	vertical-align:middle;
}
span.aula{
	text-align:left;
	width:40px;
	padding-left:5px;
	font-size:12px;
	font-weight:bold;
	opacity:1;
}
p.aula{
	margin:2px;
}

/* blocks*/

div.blockprompt{
	padding:0.5em;
	z-index: 1011; 
	position: fixed;
	width:100%;
	min-height:210px;
	left:0;
	right:0;
	top:30%;
	background-color:#823C3C;
	color:#FFFFFF;
	text-align:center;
	overflow:visible;
}

div#loading{
	cursor:wait;
}

div#promptcadeiras{
}

div#listcadeiras{
	width:90%;
	min-height:200px;
	margin-bottom:12px;
	-moz-column-width:120px; 
	-webkit-column-width:120px; 
	column-width:120px;
}

div.listcadano{
	height:200px;	
	float:center;
    text-align: left;
}
p.listcadanop{
	text-align:center;
}
li.listcad{
    width: 85px;
    text-align: left;
	display:inline-block;
}


/*geral*/
p.error{
	text-align:center;
	font-size:18px;
	color:#FFFFFF;
	font-weight:bold;
}
